# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
static/js/bundle.js
static/js/bundle.js.LICENSE.txt
stale_content_cache.json

# Logs
*.log
staleflix.log

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
stale_content_cache.json
